<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/seo"></div>
    <div th:replace="common/mobile"></div>
    <div th:replace="common/common_file"></div>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

    <div th:replace="common/header"></div>

    <div class="main_body">
        <div th:replace="common/sidebar"></div>
        <div class="main">
            <div class="content">

                <div class="content_out">
                    <h3 class="title">查询</h3>
                    <div class="in">
                        <span><input th:type="text" placeholder="请输入用户名" /> </span>
                        <span>
                            <select>
                                <option>请选择角色</option>
                            </select>
                        </span>
                        <a href="#" class="com_btn">查询</a>
                    </div>
                </div>

                <div class="content_out">
                    <table border="0" cellpadding="0" cellspacing="0" class="data_table">
                        <tr>
                            <th>用户名</th>
                            <th>角色</th>
                            <th>最后登录时间</th>
                            <th>是否有效</th>
                            <th>操作</th>
                        </tr>
                        <tr th:each="user:${userList}">
                            <td th:text="${user.getUName()}"></td>
                            <td th:text="${user.getSysRole().getRName()}"></td>
                            <td th:text="${#dates.format(user.getULastLoginTimer(),'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <span th:if="${user.getIsDeleted()} eq '0'">有效</span>
                                <span th:if="${user.getIsDeleted()} eq '1'">锁定</span>
                            </td>
                            <td>
                                <a th:href="@{user/add(uId=${user.getUId()})}">编辑</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

</body>
</html>