html{
  overflow:hidden;
  .login_body{
    width:30rem;
    border:1px solid #ccc;
    background-color:rgba(110,110,110,.1);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    box-sizing: border-box;
    padding:15px;
    p{
      margin-bottom:10px;
      &.tr{
        text-align: right;
        margin-bottom:0;
      }
      &.info{
        color:#f00;
      }
      input{
        width:100%;
        font-size:1.4rem;
        padding:0 10px;
        background-color:#fff;
        line-height:40px;
        border:1px solid #ccc;
        box-sizing:border-box;
      }
    }
  }
}